h1 {
	font-size: 300%;
	text-align: center;
}

h2 {
	font-size: 150%;
	color: rgb(80, 150, 150);
}

p {
	font-size: 150%;
	margin-right: 80px;
	text-align:right;
}

#header {
	background-color: rgb(180, 180, 180);
}

#corps h1 {
	font-size: 160%;
	text-align: left;
}

#corps #tableau {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}